In [1]:
import pandas as pd

In [1]:
df = pd.read_csv("./csv-files/t20.csv")

NameError: name 'pd' is not defined

In [11]:
df.head(1)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301

In [15]:
X = df[['runs','wickets','overs','runs_last_5','wickets_last_5','striker','non-striker']]
y = df[['total']]


# current_score,wickets_fallen, overs_completed,runs_last_5,wickets_last_5,score_of_striker,score_of_non_striker

   total
0    301
1    301
2    301
3    301
4    301

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)

In [17]:
lr = LinearRegression(normalize=True)

In [18]:
lr.fit(X_train,y_train)

LinearRegression(normalize=True)

In [19]:
from joblib import dump

dump(lr,"t20model.pkl")

['odimodel.pkl']